@import "bootstrap.min.css";
@import "fonts";
@import "normalize";
@import "ui";

body {
  font-family: "Maven Pro";
  font-size: 20px;
  font-weight: 400;
}

.toggle-btn {
  z-index: 100501;
  background: 0 0;
  border: none;
  outline: 0;
  width: 50px;
  display: none;
  position: absolute;
  top: 50px;
  left: 25px;
  .icon-bar {
    display: block;
    width: 35px;
    margin-bottom: 4px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.news-page {
  font-family: Geometria;
  .main {
    position: relative;
    background-size: cover!important;
    .header {
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:before, &:after {
          content: none;
        }
        .btn-blue {
          margin-top: 0;
          padding: 10px 35px;
        }
      }
    }
    .content {
      padding-top: 190px;
      .scroll-down {
        position: absolute;
        bottom: 60px;
        margin: 0;
        .arrow {
          background: url("../images/news-scroll.png");
        }
      }
    }
    .footer {
      margin-top: 0;
      position: absolute;
      bottom: 0;
      .date {
        position: absolute;
        right: 0;
        left: 300px;
        margin: 0 auto;
        bottom: 60px;
      }
    }
  }
  .text {
    padding: 50px 10px;
    max-width: 768px;
    margin: 0 auto;
    .title {
      color: #3c434d;
      font-size: 26px;
      font-weight: 400;
      line-height: 36px;
      margin-bottom: 25px;
    }
    p {
      color: #8c8f94;
      font-family: Geometria;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
  }
}

.main {
  color: white;
  background: url('../images/main-background.png') no-repeat center;
  background-size: cover;
  header {
    .container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      &:before, &:after {
        content: none;
      }

      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        li {
          font-size: 16px;
          text-transform: uppercase;
          //margin: 0 20px;
        }
      }
    }
  }
  .content {
    text-align: center;
    padding: 70px 0 0;
    .title {
      font-size: 62px;
      font-weight: 500;
      color: #fefefe;
    }
    .text {
      margin: 35px auto 0;
      max-width: 830px;
      font-size: 18px;
    }
    .user {
      display: flex;
      justify-content: center;
      margin-top: 45px;
      .btn {
        width: 150px;
        height: 50px;
        border: 1px solid white;
        border-radius: 25px;
        background: transparent;
        font-family: 'Lato';
        font-size: 16px;
        padding-top: 12px;
        margin: 0 15px;
      }
    }
    .timer {
      margin-top: 50px;
      .head {
        font-size: 48px;
        color: #fefefe;
        font-weight: 500;
      }
      .clock {
        display: flex;
        justify-content: center;
        margin-top: 45px;
        .circle {
          position: relative;
          margin: 0 40px;
          min-width: 200px;
          .size(200px);
          background: transparent;
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 25px;
          &:after {
            content: none;
          }
          canvas {
            position: absolute;
            top: 0;
            left: 0;
          }
          .count {
            font-size: 47px;
            line-height: 47px;
          }

        }
      }
    }
    .scroll-down {
      margin-top: 40px;
      position: relative;
      z-index: 3;
      span {
        .size(31px, 18px);
        background-image: url("../images/main-scroll.png");
        display: block;
        opacity: .4;
        animation: scroll-1;
        animation-iteration-count: infinite;
        animation-duration: 0.5s;
        &:nth-child(2) {
          animation: scroll-2;
          animation-iteration-count: infinite;
          animation-duration: 0.5s;
        }
        &:nth-child(3) {
          animation: scroll-3;
          animation-iteration-count: infinite;
          animation-duration: 0.5s;
        }
      }
    }
  }
  .footer {
    .size(100%, 93px);
    background: url('../images/main-footer.png') no-repeat center;
    margin-top: -20px;
    position: relative;
    .social {
      position: absolute;
      bottom: 18px;
      right: 0;
      left: 655px;
      width: intrinsic; /* Safari/WebKit uses a non-standard name */
      width: -moz-max-content; /* Firefox/Gecko */
      width: -webkit-max-content;
      margin: 0 auto;
      display: flex;
      align-items: flex-end;
      a {
        margin: 0 12px;
        img {
          cursor: pointer !important;
        }
      }
    }
  }
}

.finished {
  padding: 80px 0 30px;
  .section-title {
    margin: 0 auto;
    &:after {
      display: none;
    }
  }
  .back {
    padding: 50px 70px 30px;
    margin-top: 35px;
    border-radius: 50px;
    box-shadow: 0 14px 50px fade(black, 15%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & > div {
      max-width: 480px;
      min-width: 320px;
      width: 50%;
    }
    .progress {
      background-color: #d7d7d7;
      box-shadow: 0.5px 0.9px 1px rgba(255, 255, 255, 0.75), inset 0.5px 0.9px 5px rgba(0, 0, 0, 0.4);
      border-radius: 32px;
      height: 25px;
      position: relative;
      overflow: visible;
      .min, .max {
        position: absolute;
        color: @black;
        top: -25px;
        font-size: 16px;
      }
      .min {
        left: 0;
      }
      .max {
        right: 0;
      }
    }
    .progress-bar {
      height: 25px;
      background-color: #3955c1;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQYV2O0jzvxnwEKhPmYGBhhAiDO20//IAIwDkghY1DOqf8gGRgAAFtPErjz60OiAAAAAElFTkSuQmCC) repeat;
      box-shadow: inset 0 -1px 8px rgba(255, 255, 255, 0.16);
      border-radius: 32px;
    }
    .progress-count {
      .size(90px, 55px);
      background: url("../images/progress.png");
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      color: white;
      position: absolute;
      top: -65px;
      padding-top: 10px;
      margin-left: -55px;
    }
    .flex {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      color: #3c434d;
      font-size: 24px;
      font-weight: 500;
      b {
        color: #345edb;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}

.news {
  padding: 50px 0;
  .section-title {
    margin: 0 auto;
  }
  #news {
    margin-top: 60px;
    .carousel-inner {
      width: 1220px;
      margin-left: -40px;
    }
    .carousel-control {
      background: transparent !important;
      display: flex;
      align-items: center;
    }
    .carousel-control {
      opacity: 1 !important;
      top: 5px;
      width: 30px;
      &.left {
        left: -70px;
      }
      &.right {
        right: -70px;
      }
      img {
        cursor: pointer !important;
      }
    }
    .wrap {
      display: inline-block;
      max-width: 360px;
      border-radius: 6px;
      overflow: hidden;
      box-shadow: 0 14px 50px fade(black, 15%);
      margin: 0 auto;
    }
    .item {
      font-family: Geometria;
      padding: 0 40px 40px;
      font-weight: 400;
      &.active {
        opacity: 1;
      }
      & > div:nth-child(2) {
        left: 0;
        right: 0;
        position: absolute;
      }
      & > div:last-child {
        float: right;
      }
      .picture {
        width: 100%;
      }
      .text-content {
        padding: 15px 30px 25px 30px;
      }
      .category {
        color: #8c8f94;
        font-size: 12px;
      }
      .title {
        color: #3c434d;
        font-size: 26px;
        margin: 15px 0;
        font-weight: 400;
        display: block;
      }
      .text {
        font-size: 14px;
        font-weight: 500;
        color: fade(#8c8f94, 70%);
      }
    }
  }
}

.partners {
  padding-top: 60px;
  .section-title {
    margin: 0 auto;
    text-transform: uppercase;
  }
  .carousel {
    margin-top: 50px;
    .carousel-control {
      background: transparent !important;
    }
    .carousel-control {
      opacity: 1 !important;
      top: 5px;
      width: 30px;
      &.left {
        left: -70px;
      }
      &.right {
        right: -70px;
      }
      img {
        cursor: pointer !important;
      }
    }
    .carousel-indicators {
      bottom: -50px;
      li {
        .size(12px);
        min-height: 12px;
        border: 2px solid #dbdbe7;
        transition: border .2s;
        margin: 0 0 12px;
        &.active {
          border-color: #359aee;
        }
      }
    }
    .slide {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

.need {
  padding: 65px 0;
  .slider {
    position: relative;
  }
  .cheep {
    background: url("../images/need-background.png") no-repeat center center;
    padding-left: 35px;
    .size(512px);
    position: absolute;
    left: 57px;
    top: 200px;
    opacity: 0;
  }
  .carousel {
    position: relative;
    z-index: 2;
    .carousel-indicators {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: -45px;
      top: 300px;
      bottom: auto;
      margin-left: auto;
      li {
        .size(12px);
        min-height: 12px;
        border: 2px solid #dbdbe7;
        transition: border .2s;
        margin: 0 0 12px;
        &.active {
          border-color: #359aee;
        }
      }
    }
    .iphone {
      .size(485px, 871px);
      background-image: url("../images/need-iphone.png");
    }
    .carousel-inner {
      .size(321px, 570px);
      border: 2px solid #e6e6e6;
      top: 146px;
      left: 38px;
      position: absolute;
      background-image: url("../images/iphone-screen.png");
      .item {
        opacity: 1;
        transition: transform .4s ease-in-out;
        &.next, &.prev {
          animation-name: load;
          animation-duration: .4s;
        }
      }
    }
  }
  .content {
    padding-top: 180px;
  }
}

.how {
  .section-title {
    margin-top: 100px;
  }
  .scheme {
    padding: 100px 0 140px;
    .item {
      font-family: Lato;
      text-align: center;
      position: relative;
      &:after, &:before {
        content: '';
        display: block;
        position: absolute;
        top: 60px;
      }
      p {
        color: @black;
        font-size: 20px;
        font-weight: 700;
        margin: 10px 0;
      }
      span {
        color: #8c8f94;
        font-size: 18px;
      }
    }
    .item, .arrow {
      position: relative;
      .comment {
        text-align: center;
        left: -80px;
        position: absolute;
        top: -50px;
        font-size: 16px;
        width: 300px;
        opacity: 0;
        transform: scale(0);
        transition: transform .6s;
      }
    }
    .arrow {
      .comment {
        top: -100px;
        left: -100px;
        /* transform: scale(0);
         transition: transform .6s;*/
      }
    }
    .second-row, .third-row, .four-row {
      & > div:first-child .comment {
        left: -200px;
        width: 200px;
      }
      & .item .comment {
        width: 200px;
        top: -25px;
        left: -125px;
      }
      & > div:last-child .comment {
        left: auto;
        right: -200px;
        width: 200px;
      }
      .comment {
        top: 50px;
      }
    }
    .first-row {
      display: flex;
      align-items: baseline;
      justify-content: center;
      .first {
        //margin-right: 110px;
        /*&:after {
          .size(91px, 14px);
          right: -100px;
          background-image: url("../images/scheme-1-after.png");
        }*/
      }
      .arrow {
        margin: 0 6px;
      }
      .second {
        /*margin-right: 105px;

        &:after {
          .size(91px, 18px);
          right: -100px;
          background-image: url("../images/scheme-2-after.png");
        }*/
      }
      .third {
        /*&:after {
          .size(45px, 230px);
          right: -55px;
          background-image: url("../images/scheme-3-after.png");
        }*/
        position: relative;
        .before {
          position: absolute;
          top: 110px;
          left: -110px;
          .comment {
            top: auto;
            bottom: -34px;
            left: 60px;
            width: 150px;
            text-align: left;
          }
        }
      }
    }
    .second-row {
      display: flex;
      justify-content: center;
      margin-top: 45px;
      /*.first {
        margin-right: 120px;
        padding-top: 15px;
        &:before {
          .size(70px, 126px);
          left: -13px;
          top: -65px;
          background-image: url("../images/scheme-1-before.png");
        }
        &:after {
          .size(91px, 17px);
          right: -105px;
          background-image: url("../images/scheme-4-after.png");
        }
        img {
          margin-bottom: 21px;
        }
      }
      .second {
        margin-right: 110px;
        &:after {
          .size(91px, 15px);
          right: -100px;
          background-image: url("../images/scheme-5-after.png");
        }
      }*/
      .third {
        /*&:after {
          .size(45px, 225px);
          top: 70px;
          right: -55px;
          background-image: url("../images/scheme-6-after.png");
        }*/
      }
      .arrow {
        padding-top: 65px;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
    .third-row {
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      .or {
        padding: 0 20px;
        color: #26272d;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 83px;
      }
      .arrow {
        padding-top: 75px;
        padding-right: 5px;
        padding-left: 5px;
      }
    }
    .four-row {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      .arrow {
        padding-top: 65px;
        padding-right: 5px;
        padding-left: 5px;
      }
      .second {
        padding-top: 115px;
      }
      .first {
        margin-right: 70px;
      }
    }
    .five-row {
      display: flex;
      justify-content: center;
      margin-top: -70px;
      .first {
        margin-right: 70px;
      }
      .item {
        .comment {
          top: auto;
          bottom: -20px;
          left: -75px;
        }
      }
    }
  }
  .mobile-scheme {
    display: none;
  }
}

.white-paper {
  padding: 100px 0 60px;
  background: url('../images/book-background.png') no-repeat center;
  background-size: cover;
  //margin-top: 200px;
  #flipbook {
    box-shadow: 20px 20px 60px rgba(0, 0, 0, .15);
  }
  .book-control {
    margin-top: 45px;
    text-align: center;
    a {
      .size(66px, 50px);
      background-image: url("../images/book-arrow-right.png");
      background-repeat: no-repeat;
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
      transition: opacity 0.2s;
      &.disabled {
        opacity: .35;
      }
    }

    .left {
      background-image: url("../images/book-arrow-left.png");
    }
    .right {
      margin-left: -9px;
    }
  }
  .content {
    text-align: center;
  }
  .section-title {
    margin: 0 auto;
    padding-top: 50px;
  }
  .section-text {
    text-align: left;
  }
  .btn-white {
    .size(300px, 80px);
    border-radius: 40px;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333ecf;
    position: relative;
    text-align: right;
    padding-top: 30px;
    padding-right: 30px;
    margin: 35px auto 0;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .15);
    letter-spacing: 1px;
    &:hover {
      color: #333ecf;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      .size(28px, 34px);
      background-image: url("../images/book-icon.png");
      left: 50px;
      top: 23px;
    }
  }
}

.roadmap {
  background: url('../images/roadmap-background.png') no-repeat center;
  min-height: 1110px;
  background-size: cover;
  padding-top: 100px;
  color: white;
  position: relative;
  .wrap {
    overflow-x: scroll;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #0ae;

      background-image: -webkit-gradient(linear, 0 0, 0 100%,
      color-stop(.5, rgba(255, 255, 255, .2)),
      color-stop(.5, transparent), to(transparent));
    }
  }
  .line-path {
    position: relative;
    top: 200px;
    width: 1600px;
    height: 333px;
    background: url('../images/roadmap-line.png') no-repeat;
    transform-origin: 0 0;
    & > div:nth-child(2) {
      left: 380px;
      top: 131px;
      .circle {
        margin-bottom: 75px;
      }
    }
    & > div:nth-child(3) {
      left: 550px;
      top: 103px;
    }
    & > div:nth-child(4) {
      left: 735px;
      top: 48px;
      .circle {
        margin-bottom: 58px;
      }
    }
    & > div:nth-child(5) {
      left: 900px;
      top: 60px;
    }
    & > div:nth-child(6) {
      left: 1080px;
      top: 30px;
      .circle {
        margin-bottom: 72px;
      }
    }
    & > div:nth-child(7) {
      left: 1255px;
      top: 0px;
      .circle {
        margin-bottom: 101px;
      }
    }
    .item {
      position: absolute;
      text-align: center;
      top: 137px;
      left: 188px;
      transition: text-shadow .2s;
      &:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, .5);
        .circle {
          box-shadow: 0 0 28px rgba(255, 255, 255, 1);
        }
      }
      .date {
        font-size: 30px;
        margin-bottom: 0;
      }
      span {
        font-size: 24px;
      }
      .text {
        font-size: 14px;
        max-width: 140px;
        text-align: left;
      }
      b {
        font-size: 16px;
      }
      .circle {
        width: 12px;
        height: 12px;
        background-color: #359aee;
        border: 1px solid white;
        box-shadow: 0 0 18px rgba(255, 255, 255, 0.2);
        transition: box-shadow .2s;
        border-radius: 50%;
        margin: 45px auto;
      }

    }
  }
  .title {
    font-size: 42px;
    font-weight: 500;
  }
  .footer {
    .size(100%, 93px);
    background: url('../images/roadmap-footer.png') no-repeat center;
    position: absolute;
    bottom: -3px;
  }
}

.offer {
  background: url('../images/offer-background.png') no-repeat center;
  background-size: cover;
  padding: 200px 0 150px;
  position: relative;
  .container {
    z-index: 1;
  }
  .section-title {
    text-transform: uppercase;
    margin-bottom: 65px;
  }
  .choose {
    p {
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    .radio {
      border: 1px solid fade(#26292c, 15%);
      background: transparent;
      display: flex;
      justify-content: space-between;
      border-radius: 25px;
      padding: 3px;
      width: intrinsic; /* Safari/WebKit uses a non-standard name */
      width: -moz-max-content; /* Firefox/Gecko */
      width: -webkit-max-content;
      button {
        .size(124px, 42px);
        border-radius: 21px;
        font-size: 16px;
        background: transparent;
        color: #c5c6c7;
        transition: all .3s;
        &.active {
          color: @black;
          background-color: white;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  .section-text {
    margin-top: 70px;
    margin-bottom: 40px;
  }
  .team {
    font-size: 14px;
    color: #8c8f94;
    a {
      color: #267df4;
      text-decoration: underline;
    }
  }
  .content {
    padding-top: 150px;
    text-align: center;
    ul {
      color: #8c8f94;
      font-size: 20px;
      padding-left: 40px;
      width: intrinsic; /* Safari/WebKit uses a non-standard name */
      width: -moz-max-content; /* Firefox/Gecko */
      width: -webkit-max-content;
      margin: 0 auto;
      text-align: left;
      li {
        list-style: url("../images/offer-icon.png");
        margin-bottom: 8px;
      }
    }
    .team-tab {
      display: none;
    }
  }
}

.des-stars, .des-advisors {
  padding: 80px 0 60px;
  text-align: center;
  .section-title {
    margin: 0 auto 80px;
    text-transform: uppercase;
    &:after {
      // width: 100%;
    }
  }
  .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .block {
    position: relative;
    width: 310px;
    opacity: 0.5;
    transition: opacity .3s;
    margin-bottom: 30px;
    &:hover {
      opacity: 1;
    }
    .circle {
      .size(150px);
      background: url("../images/slider-1.png");
      background-size: 100% 100%;
      .size(216px);
      padding: 43px 0 0;
      margin: 0 auto;
      transition: transform 5s linear;
      z-index: 1;
      &:hover {
        transform: rotate(900deg);
        img {
          transform: rotate(-900deg);
        }
      }
      img {
        transition: transform 5s linear;
        border-radius: 50%;
        z-index: 0;
      }
    }
    .info {
      margin-top: 30px;
      text-align: center;
      .name {
        font-size: 32px;
        margin-bottom: 0;
        color: @black;
      }
      .vacancy {
        font-size: 18px;
        color: #8c8f94;
      }
      .description {
        font-size: 20px;
        color: #8c8f94;
        margin: 20px 0;
      }
      .stars {
        display: flex;
        justify-content: center;
        .star {
          .size(22px);
          background-image: url("../images/slider-star.png");
          margin: 0 4px;
        }
      }
      .link {
        margin: 25px auto;
        display: block;
        img {
          margin: 0 auto;
          cursor: pointer !important;
        }
      }
    }
  }
  .btn-blue {
    margin-top: 40px;
  }
}

.follow-title {
  margin: 30px auto;
  text-transform: uppercase;
  text-align: center;
  &:after {
    //width: 100%;
  }
}

.follow {
  background: url('../images/follow-background.png') no-repeat center;
  background-size: cover;
  padding: 145px 0;
  position: relative;
  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      height: 70px;
      width: 68%;
      background-color: white;
      border-radius: 25px;
      text-indent: 30px;
      font-size: 16px;
      color: #8c8f94;
      text-transform: uppercase;
      &::-webkit-input-placeholder {
        color: #8c8f94;
      }
      &::-moz-placeholder {
        color: #8c8f94;
      }
      &:-ms-input-placeholder {
        color: #8c8f94;
      }
    }
    .send {
      width: 25%;
      height: 80px;
      border: 2px solid white;
      background: transparent;
      border-radius: 40px;
      font-size: 16px;
      color: white;
      text-transform: uppercase;
    }
  }
  .head, .foot {
    position: absolute;
    width: 100%;
    height: 93px;
  }
  .foot {
    bottom: 0;
    background: url("../images/follow-foot.png");
  }
  .head {
    top: 0;
    background: url("../images/follow-head.png");
  }
}

.des-advisors {
  .items {
    justify-content: space-around;
    .block {
      opacity: 1;
      width: 400px;
    }
  }
}

.questions {
  text-align: center;
  padding-bottom: 40px;
  .section-title {
    text-align: center;
    margin: 120px auto 0;
    &:after {
      width: 100%;
    }
  }
  .accordion {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    .item {
      width: 100%;
      padding: 30px;
      position: relative;
      border-bottom: 1px solid #e7eef3;
      transition: all .2s;
      &.active {
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
        .control {
          transform: rotate(180deg);
        }
      }
      .title {
        font-size: 20px;
        color: @black;
        margin-bottom: 15px;
      }
      .text {
        font-size: 18px;
        color: #8c8f94;
        margin: 0;
        line-height: 30px;
        display: none;
      }
      .control {
        .size(16px, 10px);
        max-width: 16px;
        display: block;
        background: url('../images/accordion-arrow.png');
        position: absolute;
        top: 40px;
        right: 30px;
        transition: transform .2s;
      }
    }
  }
  .btn-blue {
    font-size: 24px;
    padding: 15px 70px;
    margin: 0 auto;
    border-radius: 30px;
  }
}

footer {
  padding: 80px 0 40px;
  .content {
    text-align: center;
  }
  .logo {
    margin: 0 auto;
  }
  .text {
    font-size: 14px;
    color: #8c8f94;
    margin: 15px 0 30px;
    text-align: left;
  }
  .social {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }
  .title {
    font-size: 12px;
    color: @black;
    margin: 25px 0 0;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  ul {
    margin-top: 15px;
    li {
      margin-bottom: 15px;
    }
    a {
      font-size: 16px;
      color: #8c8f94 !important;
    }
  }
}

.scroll-up {
  position: fixed;
  right: 3%;
  bottom: 30px;
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
  z-index: -1;
  opacity: 0;
  transition: opacity .5s;
  span {
    .size(31px, 18px);
    transform: rotate(180deg);
    background-image: url("../images/main-scroll.png");
    display: block;
    opacity: .4;
    animation: scroll-1;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    &:nth-child(2) {
      animation: scroll-2;
      animation-iteration-count: infinite;
      animation-duration: 0.5s;
    }
    &:nth-child(3) {
      animation: scroll-3;
      animation-iteration-count: infinite;
      animation-duration: 0.5s;
    }
  }
}

.modal {
  text-align: center;
  padding: 0 !important;
  background-color: white;
  border: none;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .modal-body {
    padding: 0;

  }
}

.sing-up, .sing-in {
  .modal-content {
    box-shadow: 1.5px 2.6px 40px rgba(23, 24, 32, 0.2);
    border-radius: 0;
    position: relative;
    border: none;
    &:after {
      content: '';
      .size(512px);
      background-image: url("../images/tech-up.png");
      position: absolute;
      top: 85px;
      left: -178px;
      z-index: 0;
    }
  }
  .modal-dialog {
    width: 450px;
  }
  .modal-body {
    height: 650px;
    padding-bottom: 35px;
    text-align: center;
    color: #9ea3b4;
    font-family: Montserrat;
    z-index: 2;
    background: white;
    .head {
      width: 100%;
      padding: 30px 0;
      color: #9ca1b2;
      font-size: 24px;
      line-height: 24px;
      box-shadow: 1.5px 2.6px 80px rgba(23, 24, 32, 0.2);
      position: relative;
      z-index: 2;
    }
    .form {
      padding: 15px 20px 30px;
      border-bottom: 1px solid #e1e3e8;
      .input {
        position: relative;
        margin-bottom: 25px;
        input:focus + .gray + .blue {
          width: 100%;
        }
        .gray, .blue {
          width: 100%;
          height: 1px;
          background: #e1e3e8;
          position: relative;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
        }
        input + .gray + .blue {
          width: 0;
          background: #3591eb;
          transition: width .3s;
          bottom: 1px;
        }
      }
      .last {
        .gray, .blue {
          height: 1.5px;
        }
        .blue {
          bottom: 1.5px;
        }
      }
      input {
        width: 100%;
        padding: 25px 0;
        text-indent: 15px;
        color: #9ea3b4;
        font-family: Montserrat;
        font-size: 18px;
        border: none;
        //border-bottom: 1px solid #e1e3e8;
        &::-webkit-input-placeholder {
          color: #9ea3b4;
        }
        &::-moz-placeholder {
          color: #9ea3b4;
        }
        &:-ms-input-placeholder {
          color: #9ea3b4;
        }
      }
      .btn {
        margin: 10px 0 0;
        padding: 19px 70px;
        border-radius: 32px;
      }
    }
    p {
      font-size: 14px;
      margin: 30px 0;
    }
    .social {
      display: flex;
      justify-content: center;
      a {
        margin: 0 17px;
        img {
          cursor: pointer !important;
        }
      }
    }
  }
}

.sing-in {
  .modal-content {
    &:after {
      left: auto;
      top: 0;
      right: -195px;
      background-image: url("../images/tech-in.png");
    }
  }
  .modal-body {
    height: 550px;
  }
}

@media screen and (max-width: 1200px) {
  .need {
    .cheep {
      left: 35px;
    }
  }

  .how {
    .section-title {
      max-width: 200px;
    }
    .scheme {
      .second-row > div:last-child .comment, .third-row > div:last-child .comment, .four-row > div:last-child .comment {
        right: -150px;
      }
    }
  }

  .white-paper {
    #flipbook {
      img {
        width: 300px;
      }
    }
  }

  .roadmap {
    min-height: 800px;
    .line-path {
      transform-origin: 0 0;
      //transform: scale(0.7);
      //width: 2400px;
    }
  }

  .des-stars, .des-advisors {
    .carousel {
      .control-left {
        left: -30px;
      }
      .control-right {
        right: -30px;
      }
    }
  }

  .news {
    #news {
      .carousel-inner {
        width: 991px;
      }
      .wrap {
        max-width: 300px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .main {
    header {
      ul {
        flex-wrap: wrap;
        li {
          margin: 0 15px 15px;

        }
      }
    }
    .content {
      .title {
        font-size: 50px;
      }
      .text {
        font-size: 16px;
        max-width: 740px;
      }
      .timer {
        .clock {
          .circle {
            margin: 0 30px;
          }
        }
      }
    }
    .footer {
      .social {
        right: 4%;
        left: auto;
        margin: auto;
      }
    }
  }

  .need {
    .carousel {
      .carousel-indicators {
        left: -15px;
      }
    }
    .cheep {
      display: none !important;
    }
    .content {
      .section-title {
        font-size: 30px;
      }
      .section-text {
        font-size: 18px;
      }
    }
  }

  .how {
    padding-top: 0;
    padding-bottom: 50px;
    .section-title {
      margin-top: 50px;
      max-width: initial;
    }
    .scheme {
      padding-top: 50px;
      padding-bottom: 0;
      float: none;
      margin: 0 auto;
      .third-row {
        .first {
          //margin-right: 55px;
        }
      }
      .second-row > div:last-child .comment, .third-row > div:last-child .comment, .four-row > div:last-child .comment {
        right: -200px;
      }
    }
  }

  .white-paper {
    .container {
      display: flex;
      flex-direction: column-reverse;
    }
    .content {
      margin-bottom: 45px;
    }
    #flipbook {
      margin: 0 auto;
      img {
        width: 350px;
      }
    }
  }

  .roadmap {
    min-height: 700px;
    .line-path {
      //transform: scale(0.5);
      .item {
        .text {
          font-size: 16px;
        }
      }
    }
  }

  .offer {
    .content {
      padding-top: 25px;
      ul {
        font-size: 16px;
      }
    }
  }

  .des-stars, .des-advisors {
    .carousel {
      width: 720px;
      .block {
        .photo {
          margin-left: 0;
          margin-right: 0;
        }
      }
      .control-left {
        left: -10px;
      }
      .control-right {
        right: -10px;
      }
    }
  }

  .follow {
    .form {
      input {
        width: 60%;
      }
      .send {
        width: 33%;
      }
    }
  }

  .finished {
    .back {
      justify-content: center;
      & > div:first-child {
        margin-bottom: 80px;
      }
    }
  }

  .news {
    #news {
      .carousel-inner {
        width: 768px;
      }
      .wrap {
        max-width: 225px;
        .title {
          font-size: 20px;
        }
        .text {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .toggle-btn {
    display: block;
  }

  .main {
    header {
      .container {
        ul {
          display: none;
          margin-top: 25px;
          text-align: center;
          li {
            width: intrinsic; /* Safari/WebKit uses a non-standard name */
            width: -moz-max-content; /* Firefox/Gecko */
            width: -webkit-max-content;
            margin: 10px auto;
            font-size: 20px;
          }
        }
      }
    }
    .content {
      padding: 15px;
      .title {
        font-size: 36px;
      }
      .timer, .user {
        margin-top: 25px;
      }
      .timer {
        .clock {
          flex-wrap: wrap;
          align-items: center;
          .circle {
            margin-bottom: 25px;
            height: 150px !important;
            width: 150px !important;
            min-width: 150px !important;
            canvas {
              height: 150px !important;
              width: 150px !important;
            }
          }
        }
      }
      .scroll-down {
        margin-top: 15px;
      }
    }
    .footer {
      background-color: white;
      height: auto;
      padding: 25px 0;
      margin-top: 15px;
      .social {
        position: initial;
        justify-content: center;
        a {
          margin: 0 17px;
        }
      }
    }
  }

  .section-title {
    margin: 0 auto;
    font-size: 30px;
    width: auto;
  }

  .section-text {
    font-size: 18px;
  }

  .partners {
    text-align: center;
    .item {
      img {
        margin: 10px auto;
      }
    }
  }

  .need {
    padding: 15px 0 35px;
    .container {
      display: flex;
      flex-direction: column-reverse;
    }
    .carousel {
      width: 408px;
      margin: 0 auto;
      .carousel-indicators {
        display: none;
      }
    }
    .content {
      padding-top: 35px;
      text-align: center;
    }
  }

  .how {
    text-align: center;
    padding-bottom: 45px;
    margin-bottom: 45px;
    position: relative;
    .scheme {
      position: relative;
      .third-row {
        display: flex;
        justify-content: flex-end;
        //width: 0;
        right: 70px;
        margin-right: 50px;
      }
    }
  }

  .white-paper {
    padding-top: 25px;
    #flipbook {
      img {
        width: 100%;
        max-width: 350px;
      }
    }
    .btn-white {
      width: 270px;
      &:before {
        left: 25px;
      }
    }
  }

  .roadmap {
    min-height: 700px;
    .wrap {
      overflow: scroll;
      width: 100%;
      height: 600px;
    }
    .line-path {
      top: 45px;
      position: relative;
      transform: scale(0.7);
      width: 1600px;
      .item {
        .text {
          font-size: 14px;
        }
      }
    }
    .footer {
      display: none;
    }
  }

  .offer {
    text-align: center;
    padding: 50px 0;
    .choose {
      .radio {
        margin: 0 auto;
      }
    }
    .section-title {
      margin-bottom: 25px;
    }
    .section-text {
      margin-top: 25px;
    }
  }

  .des-stars, .des-advisors {
    padding: 35px 0;
    .section-title {
      margin-bottom: 35px;
    }
    .items {
      justify-content: center;
      .block {
        opacity: 1;
      }
    }
  }

  .follow {
    .form {
      flex-direction: column;
      input {
        width: 100%;
        max-width: 350px;
        margin-bottom: 25px;
      }
      .send {
        width: 100%;
        max-width: 350px;
      }
    }
  }

  .questions {
    .section-title {
      margin-top: 25px;
    }
    .accordion {
      .item {
        padding: 10px;
        .title {
          font-size: 16px;
        }
        .text {
          font-size: 16px;
        }
        .control {
          right: 5px;
          top: 18px;
        }
      }
    }
  }

  footer {
    .container {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      &:before, &:after {
        content: none;
      }
      & > div {
        max-width: 400px;
        min-width: 250px;
      }
      .content {
        .text {
          text-align: center;
        }
      }
    }
  }

  .sing-up, .sing-in {
    z-index: 100555;
    &:before {
      content: none;
    }
    .modal-content {
      &:after {
        display: none;
      }
    }
    .modal-dialog {
      width: 100%;
      max-width: 300px;
    }
  }

  .finished {
    .back {
      padding: 25px;
      .flex {
        justify-content: center;
      }
    }
  }

  .news {
    #news {
      .carousel-inner {
        width: 100%;
        margin-left: 0;
      }
      .item {
        padding: 0 0 40px;
        .wrap {
          max-width: 350px;
          float: none !important;
          margin: 0 auto;
          display: block;
          .title {
            font-size: 20px;
          }
          .text {
            font-size: 12px;
          }
        }
      }
    }
  }

  .news-page {
    .main {
      .header {
        .container {
          flex-direction: column;
          align-items: center;
        }
      }
      .content {
        .scroll-down {
          bottom: 130px;
        }
      }
      .footer {
        .date {
          left: 0;
          right: 0;
          bottom: 100px;
          width: intrinsic; /* Safari/WebKit uses a non-standard name */
          width: -moz-max-content; /* Firefox/Gecko */
          width: -webkit-max-content; /* Chrome */
        }
      }
    }
  }
}

@media screen and(max-width: 700px) {
  .how {
    .scheme {
      display: none;
    }
    .mobile-scheme {
      display: block;

      .item {
        width: 130px;
        margin: 25px auto;
        font-family: Lato;
        text-align: center;
        position: relative;
        p {
          color: @black;
          font-size: 20px;
          font-weight: 700;
          margin: 10px 0;
        }
        span {
          color: #8c8f94;
          font-size: 18px;
        }
      }

      .item:nth-child(2n+1) {
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          height: 160px;
          width: 26px;
          left: -29px;
          top: 67px;
          background-image: url("../images/scheme-5-before.png");
          transform: rotate(180deg);
        }
      }
      .item:nth-child(2n) {
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          height: 160px;
          width: 26px;
          right: -29px;
          top: 100px;
          background-image: url("../images/scheme-5-before.png");
        }
      }
      .item:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  .white-paper {
    margin-top: 0;
  }
}

@media screen and (max-width: 450px) {
  .need {
    .container {
      display: flex;
      flex-direction: column-reverse;
    }
    .slider {
      transform: scale(0.6);
      transform-origin: 0 0;
      height: 500px;
      width: 150vw;
    }
  }
}

@media screen and (min-width: 768px) {

  .how .scheme .item {
    // opacity: 0;
  }

  .roadmap {
    .line-path {
      opacity: 0;
      .item {
        .date {
          opacity: 0;
        }
        span {
          opacity: 0;
        }
        .text {
          opacity: 0;
        }
      }
    }
    .title {
      font-size: 42px;
      font-weight: 500;
    }
    .footer {
      .size(100%, 93px);
      background: url('../images/roadmap-footer.png') no-repeat center;
      position: absolute;
      bottom: -3px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 735px) {
  .how {
    .scheme {
      height: 500px !important;
    }
  }
}