@black: #26272d;
@gray: #8c8f94;
.size(@w, @h: @w) {
  height: @h;
  width: @w;
}

.transition(@e) {
  transition: @e .3s ease-in-out;
}
@keyframes scroll-1 {
  0%{
    opacity: 0.4;
  }
  33%{
    opacity: 1;
  }
}
@keyframes scroll-2 {
  33%{
    opacity: 0.4;
  }
  66%{
    opacity: 1;
  }
}
@keyframes scroll-3 {
  66%{
    opacity: 0.4;
  }
  100%{
    opacity: 1;
  }
}
@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  cursor: default;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
}
html{
  overflow-x: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-family: Valera;
  color: @black;
  font-size: 42px;
  position: relative;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content;
  font-weight: 500;
  &.animation:after{
    width: 95%;
  }
  &:after {
    margin: 30px auto;
    transition: width .3s;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #267df4;
    border-radius: 1px;
  }
}

.section-text {
  margin-top: 30px;
  color: @gray;
}
.btn:focus{
  color: white !important;
}
.btn-blue {
  padding: 10px 70px;
  margin-top: 70px;
  background-color: #359aee;
  background-image: linear-gradient(to right, #359aee 0%, #333ecf 100%);
  border-radius: 21px;
  border: none;
  font-size: 16px;
  color: white!important;
  transition: all .3s;
  position: relative;
  &:hover {
    color: white !important;
    &:after {
      right: 0;
    }
  }
  &.arrow:hover:after {
    right: 5px;
  }
  &.arrow:after {
    content: '';
    display: block;
    height:12px;
    width: 13px;
    position: absolute;
    right: 17px;
    top: 14px;
    background-image: url("../images/btn-arrow.png");
    transition: all .2s;
  }
}

.cbalink {
  display: none !important;
}
